@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  font-family: 'Lucida Sans';
}

body::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}

a{
  text-decoration: none;
}

header{
  background: white;
  box-shadow: greenyellow;
  padding: 1rem;
}

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container nav{
  display: flex;
  align-items: center;
}

.container nav .logo{
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.container .nav-link{
  display: flex;
  margin-left: auto;
}

.container .nav-link li{
  list-style: none;
  margin: 0 0.5rem;
}
.container ul li a{
  color: black;
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  display: block;
  border-radius: 10px;
  border-radius: 4px;
}

.container ul li a:hover{
  background-color: #ecf0f1;
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  display: block;
  border-radius: 10px;
}

.search-bar {
  margin-left: 1.5rem;
  display: flex;
}

.search-bar input {
  padding: 0.5rem 0.8rem;
  border: 1px solid #c0c0c0;
  border-right: none;
  border-radius: 4px 0 0 4px;
  font-size: 0.9rem;
  font-family: 'Lucida Sans';
  outline: none;
}

.search-bar button {
  padding: 0.5rem 0.8rem;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #f0f0f0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar button:hover {
  background-color: #e9e9e9;
}

.search-bar button img {
  width: 16px;  
  height: 16px; 
}

.carousel-image {
  height: 500px;    
  object-fit: cover;  
}

.main-heading {
  margin-top: 15px;
  color: rgb(39, 129, 0);
  font-size: 26px;
}

.underline {
  height: 4px;
  width: 4rem;
  background-color: green;
  margin-top: 10px;
  margin-bottom: 10px;
}