@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: url(assets/dose-juice-sTPy-oeA3h0-unsplash.jpg) no-repeat center center/cover;
  min-height: 100vh;
  font-family: 'Lucida Sans';
}

body::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}

a{
  text-decoration: none;
}

header{
  background: white;
  box-shadow: greenyellow;
  padding: 1rem;
}

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container nav .logo{
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.container .nav-link{
  display: flex;
}

.container .nav-link li{
  list-style: none;
  margin: 0 0.5rem;
}



.container ul li a:hover{
  background-color: #ecf0f1;
}